/*
        |=============================================================================|
        | This stylesheet can be applay to any view(s) in './resources/views/article/'|
        |=============================================================================|

|-----------------------------------------------------------------------------------------------------
| Categories
|-----------------------------------------------------------------------------------------------------
*/
.common-category-container {
    -webkit-user-select: none;
}

.common-category-title {
    cursor: default;
    padding: 10px 10px 5px;
    margin: 0 0 10px;
    background-color: steelblue;
    box-shadow:  0 27px 0 -17px #2d3844, 0px 10px 0 0px #222a33;
    border: 3px solid steelblue;
    border-bottom: 5px solid steelblue;
    border-radius: 25px 25px 0 0;
    text-align: center;
    color: black;
    font: bold 18pt Arial;
    font-style: italic;

}

@media (max-width: 991px) {
    .common-category-title {
        font-size: 14pt;
    }
}

.common-category-list {
    list-style-type: none;
    padding: 15px;
    background-color: #222a33;
    border-radius: 8px;
    box-shadow: 6px 6px 12px -4px black;
    margin-top: -1px;
}

#common-category-current {
    border-color: steelblue;
    background-color: rgba(70, 130, 180, 0.25); /*steelblue with opacity*/
}

#common-category-current:active > a > span,
#common-category-current:focus > a > span,
#common-category-current:hover > a > span {
    color: white ;
}

.common-category-list > li {
    padding: 3px 6px;
    height: 33px;
    border-top: 1px solid #53585c;
    cursor: pointer;
}

.common-category-list > li:first-child > a {
    text-decoration: none;
    text-align: center;
}

.common-category-list > li:last-child {
    border-bottom: 1px solid #53585c;
    height: 34px;
}

.common-category-list > li:active,
.common-category-list > li:focus,
.common-category-list > li:hover {
    border-color: steelblue;
}

.common-category-list > li:active + li,
.common-category-list > li:focus + li,
.common-category-list > li:hover + li,
#common-category-current + li {
    border-top-color: steelblue;
}

.common-category-list > li > a {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
}

.common-category-list > li > a > span {
    color: white;
    font: 12pt Arial, sans-serif;
    line-height: 26px;
}
@media (max-width: 991px) {
    .common-category-list > li > a > span {
        font-size: 10pt;
    }
}

.common-category-list > li:active > a > span,
.common-category-list > li:focus > a > span,
.common-category-list > li:hover > a >span {
    color: steelblue;
}


/*
|-----------------------------------------------------------------------------------------------------
| Article containers
|-----------------------------------------------------------------------------------------------------
*/
.common-article-container {
    max-width: 1600px;
}

.common-article-background {
    background-color: #222a33;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px -4px black;
}

/*
|-----------------------------------------------------------------------------------------------------
| Page navigation's buttons
|-----------------------------------------------------------------------------------------------------
*/
.pagination {
    margin: 15px 0 0 0;
    border: 1px solid steelblue;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.pagination li > a,
.pagination li > span {
    border: none !important;
}

.pagination li > a {
    background-color: #E6E6FA;
    color: steelblue;
}

.pagination li:last-child > a,
.pagination li:last-child > span {
    border: none;
}

.pagination li > a:hover,
.pagination li > a:focus,
.pagination li > a:active {
    background-color: #c4e4ed;
}

.pagination .disabled > span,
.pagination .disabled > span:hover {
    background-color: rgba(153, 153, 153, 0.25);
}

.pagination .active > span,
.pagination .active > span:hover {
    background-color: steelblue;
}

