/*
        |=============================================================================|
        | This stylesheet can be applay to any view(s) in './resources/views/article/'|
        |=============================================================================|

|-----------------------------------------------------------------------------------------------------
| Categories
|-----------------------------------------------------------------------------------------------------
*/
.common-category-title {
    cursor: default;
    padding: 10px 10px 5px;
    margin: 0 0 10px;
    /*background-color: #20B2AA;*/
    background-color: steelblue;
    /*box-shadow:  0 27px 0 -17px black, 0px 10px 0 0px #222a33;*/
    box-shadow:  0 27px 0 -17px #2d3844, 0px 10px 0 0px #222a33;
    /*border: 3px solid #20B2AA;*/
    border: 3px solid steelblue;
    /*border-bottom: 5px solid #20B2AA;*/
    border-bottom: 5px solid steelblue;
    border-radius: 25px 25px 0 0;
    text-align: center;
    color: black;
    font: bold 18pt Arial;
    font-style: italic;
}

.common-category-container {
    padding-left: 30px;
    -webkit-user-select: none;
}

.common-category-list {
    list-style-type: none;
    padding: 15px;
    background-color: #222a33;
    border-radius: 8px;
    box-shadow: 6px 6px 12px -4px black;
    margin-top: -1px;
}

.common-category-label {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.common-category-hr {
    margin: 3px 0;
    border: none;
    border-bottom: 1px solid #53585c;
}

.common-category-field {
    padding: 2px 5px;
    margin: 0 0;
    height: 30px;
    border-top: 1px solid #53585c;
    cursor: pointer;
}

.common-category-font {
    color: white;
    font: 12pt Arial, sans-serif;
    line-height: 26px;
    text-align: right;
}

.common-category-field > a {
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;


    /*border-top: 1px solid #53585c;*/
}

.common-category-field:last-child {
    border-bottom: 1px solid #53585c;
}

/*.common-category-field > a:active .common-category-font,*/
/*.common-category-field > a:focus .common-category-font,*/
/*.common-category-field > a:hover .common-category-font {*/
    /*color: steelblue;*/
/*}*/

.common-category-field:active,
.common-category-field:focus,
.common-category-field:hover {
    border-color: steelblue;
}
.common-category-field:active + .common-category-field,
.common-category-field:focus + .common-category-field,
.common-category-field:hover + .common-category-field,
.common-category-active + .common-category-field {
    border-top-color: steelblue;
}

.common-category-field:active > a .common-category-font,
.common-category-field:focus > a .common-category-font,
.common-category-field:hover > a .common-category-font {
    color: steelblue;
}

.common-category-active:active > a .common-category-font,
.common-category-active:focus > a .common-category-font,
.common-category-active:hover > a .common-category-font {
    color: white;

}

.common-category-active {
    border-color: steelblue;
    background-color: steelblue;
}


/*
|-----------------------------------------------------------------------------------------------------
| Decorations - containers and errors info
|-----------------------------------------------------------------------------------------------------
*/
.common-article-container {
    padding: 0px 35px 0 50px;
}

.common-article-background {
    /*background-color: #eeeade;*/
    background-color: #222a33;
    padding: 0 !important;
    /*padding: 15px 20px 0;*/
    /*padding: 30px 35px 0;*/
    border-radius: 8px;
    box-shadow: 5px 5px 20px -4px black;
}

.error-info {
    color: red;
    font: 8pt Arial, sans-serif;
    margin: 10px;
}


/*
|-----------------------------------------------------------------------------------------------------
| Page navigation's buttons
|-----------------------------------------------------------------------------------------------------
*/
.pagination {
    margin: 10px 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.pagination li > a,
.pagination li > span {
    border-bottom: none !important;
    border-top: none !important;
    border-color: #222a33 !important;
}

.pagination .enabled > a{
    background-color: #E6E6FA;
    color: steelblue;
}

.pagination .enabled > a:hover,
.pagination .enabled > a:focus,
.pagination .enabled > a:active {
    background-color: #c4e4ed !important;
}

.pagination .disabled > span,
.pagination .disabled > span:hover {
    background-color: #222a33;
}

.pagination .simple > a,
.pagination .simple > a:focus {
    background-color: transparent !important;
    color: steelblue !important;
}
.pagination .simple > a:hover,
.pagination .simple > a:active {
    background-color: steelblue !important;
    color: white !important;
}

.pagination .active > span,
.pagination .active > span:hover {
    background-color: steelblue;
}


@media (max-width: 992px) {
    .common-article-container {
        padding: 0 5px;
    }

    .common-category-title {
        font-size: 14pt;
    }

    .common-category-font {
        font-size: 10pt;
    }
}
