/*
        |===============================================================================|
        | This stylesheet applies only to './resources/views/article/preview.blade.php' |
        |===============================================================================|

|-----------------------------------------------------------------------------------------------------
| Date widget
|-----------------------------------------------------------------------------------------------------
|
| A simple square that display a month and day of publishing an article
|
*/
.preview-short-date {
    -webkit-user-select: none;
    padding: 0;
    margin-left: 15px;
    width: 40px;
    border-radius: 7px;
    box-shadow: 2px 3px 5px 0 black;
    /*border: 1px solid steelblue;*/
}

.preview-day {
    height: 25px;
    background-color: #3e4750;
    /*background-color: steelblue;*/
    border-radius: 6px 6px 0 0;
    text-align: center;
    font: 16pt Arial, sans-serif;
    color: #ffffff;
    /*color: black;*/
    line-height: 27px;
}

.preview-month {
    height: 15px;
    background-color: #191f25;
    /*background-color: #c4e4ed;*/
    border-radius: 0 0 6px 6px;
    color: #808080;
    /*color: steelblue;*/
    text-align: center;
    font: 10pt Arial, sans-serif;
}


/*
|-----------------------------------------------------------------------------------------------------
| Full article link
|-----------------------------------------------------------------------------------------------------
*/
.preview-link {
    margin-top: 20px;
    -webkit-user-select: none;
    font: 14pt Arial;
    color: #3e4750;
}

.preview-link > a {
    color: inherit;
    font: inherit;
    font-style: italic;
    text-decoration: none;
    border-bottom: 2px solid #3e4750;
}

.preview-link > a:hover,
.preview-link > a:active {
    /*border-bottom: 2px solid #1E90FF;*/
    /*color: darkorange;*/
    color: steelblue;
    border: none;
}

.preview-link >a:hover + span,
.preview-link >a:active + span{
    /*color: darkorange;*/
    color: steelblue;
}


/*
|-----------------------------------------------------------------------------------------------------
| Article info and preview text
|-----------------------------------------------------------------------------------------------------
*/
.preview-article-info {
    padding: 0 15px 10px 15px;
}

.preview-title {
    /*color: #3e4750;*/
    color: black;
    /*margin: 0;*/
    font: 16pt Arial, sans-serif;
}

.preview-details {
    color: #808080;
    font: 10pt  Arial, sans-serif;
    margin: 0;
}

.preview-text {
    margin: 0;
    color: #000000;
    font: 14pt Arial;
    padding: 15px 10px;
}


/*
|-----------------------------------------------------------------------------------------------------
| Decorations
|-----------------------------------------------------------------------------------------------------
*/
.preview-container {
    /*background-color: #eeeade;*/
    background-color: #E6E6FA;
    padding: 10px 10px;
    border-radius: 6px;
    /*margin-bottom: 25px;*/
    margin: 20px 15px 0 !important;
}

/*.preview-container:first-child {*/
    /*margin-top: 15px !important;*/
/*}*/

/*.preview-container:last-child {*/
    /*margin-top: 15px !important;*/
/*}*/

.preview-hr {
    margin: 3px 0px;
    background-color: transparent;
    /*border-color: #808080;*/
    border-color: steelblue;

}

.preview-hr-dashed {
    /*margin: 0 10px 25px;*/
    margin: 20px 70px 0;
    border: none;
    /*border-bottom: 1px dashed #808080;*/
    border-bottom: 2px solid #2d3844;
}

/*.preview-hr-dashed:last-child {*/
    /*display: none !important;*/
/*}*/

/*.preview-container:last-child + .preview-hr-dashed {*/
    /*display: none !important;*/
/*}*/

