/*
        |===============================================================================|
        | This stylesheet applies only to './resources/views/article/publish.blade.php' |
        |===============================================================================|

|-----------------------------------------------------------------------------------------------------
| Left side of the form - buttons, inputs and their labels, and background for them all
|-----------------------------------------------------------------------------------------------------
*/

.publish-input-background {
    background-color: #2d3844;
    border-radius: 8px;
    padding: 10px 20px 20px;
    border: 1px solid black;
    margin: 0 0 15px;
    text-align: center;
    position: relative;
}

.publish-label {
    -webkit-user-select: none;
    padding: 0;
    margin: 0 0 10px;
    line-height: 54px;
    text-align: center;
    /*color: orange;*/
    /*color: #20B2AA;*/
    color: whitesmoke;
    font: 16pt Verdana, Arial, sans-serif;
}

.publish-input {
    outline: none;
    resize: none;
    padding: 5px 10px;
    /*background-color:  #C0C0C0;*/
    background-color: #708090;
    box-shadow: 2px 3px 5px 0 black;
    border: 1px solid #708090;
    border-bottom: none;
    border-radius: 4px;
    font: 14pt Verdana, arial;
}

.publish-input:focus,
.publish-input:active {
    background-color: #eeeade;
    box-shadow: 2px 3px 5px 0 black;
    border: 1px solid #2d3844;
    border-bottom: none;
}


/*
|-----------------------------------------------------------------------------------------------------
| Buttons and checkboxes
|-----------------------------------------------------------------------------------------------------
| The real checkboxes are hidden, but there are some images like a checkbox instead of them
*/

.publish-checkbox {
    visibility: hidden;
    margin-top: 7px !important;
    height: 20px;
    width: 20px;
}

.publish-checkbox:after {
    display: inline-block;
    visibility: visible;
    content: "";
    height: 20px;
    width: 20px;
    border: 3px solid #53585C;
    border-radius: 5px;
}

.publish-checkbox:checked:after {
    border: none;
    background-image: url("/css/elements/checkbox_checked.png");
}

.publish-button {
    width: 150px !important;
    height: 40px!important;
    margin: 20px 10px !important;
    padding: 0 5px !important;
}

