.card {

    color: black;
    /*height: 175px;*/
    display: block;
}

.card-top {
    border-radius: 6px 6px 0 0;
    padding: 10px;
    /*height: 130px;*/
    text-align: center;
}

.card-top > i {
    font-size: 6em;
}

.card-bottom {
    color: white;
    background-color: #262626;
    border-radius: 0 0 6px 6px;
    padding: 2px 6px;
}

.card-title {
    text-align: center;
    font-size: 1em;
}

.new {
    float: right;
}

#categories:hover,
#users:hover,
#posts:hover {
    text-decoration: none;
}

#categories > .card-top {
    background-color: #ff3333;
}

#users > .card-top {
    background-color: #3333ff;
}

#posts > .card-top {
    background-color: #00b300;
}

#comments > .card-top {
    background-color: orange;
}

#posts:hover > .card-bottom,
#users:hover > .card-bottom,
#categories:hover > .card-bottom,
#comments:hover > .card-bottom{
    background-color: black;
}

#posts:hover > .card-top {
    background-color: #008000;
}

#users:hover > .card-top {
    background-color: #000099;
}

#categories:hover > .card-top {
    background-color: #b30000;
}

#comments:hover > .card-top {
    background-color: darkorange;
}
