td> p {
    margin: 0;
}

.responsive-table {
    width: 100%;
}

.responsive-table tr > td {
    border-top: 1px solid black;
    height: 50px;
    padding: 8px !important;
    font: 10pt Arial, Verdana, sans-serif;
}

.responsive-table th {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.table-row-name {
    min-width: 225px;
}

.responsive-table th {
    font: 16pt Georgia, serif;
    font-weight: bold;
    padding: 8px 16px;
}

.panel-info {
    background-color: #fff4e6 !important;
}

.panel-warning {
    background-color: #ffe6e6 !important;
}

.td-for-btn {
    width: 50px;
    text-align: center;
}

.td-for-btn button {
    background-color: transparent;
    border: none;
    min-height: 20px;
    min-width: 20px;
    padding: 0 !important;
}

button.icon-delete {
    background-color: transparent;
    border: none;
    min-height: 20px;
    min-width: 20px;
    padding: 0 !important;
}

.icon-delete .fa-square {
    color:  #de5454;
}

.icon-action .fa-square {
    color:  #4f74e3;
}

.icon-action:hover .fa-square,
.icon-action:active .fa-square,
.icon-action:focus .fa-square {
    color: #1f49c7;
}

.icon-delete:hover .fa-square,
.icon-delete:active .fa-square,
.icon-delete:focus .fa-square {
    color: #961d1d;
}

.icon-edit .fa-square {
    color: #ffc14d;
}

.icon-edit:hover .fa-square,
.icon-edit:active .fa-square,
.icon-edit:focus .fa-square {
    color: #e69500;
}

.icon-ban .fa-square {
    color: #ff4500;
}

.icon-ban:hover .fa-square,
.icon-ban:active .fa-square,
.icon-ban:focus .fa-square {
    color: #cc3600;
}

.icon-unlock .fa-square {
    color: #32cd32;
}

.icon-unlock:hover .fa-square,
.icon-unlock:active .fa-square,
.icon-unlock:focus .fa-square {
    color: #239023;
}

.icon-disabled {
    pointer-events: none;
}

.icon-disabled .fa-square,
.icon-disabled:hover .fa-square {
    color: rgba(0, 0, 0, 0.15);
}

.align-center {
    text-align: center;
}

@media (max-width: 1200px) {
    .responsive-table th {
        font-size: 12pt;
        text-align: center;
    }
    .responsive-table th i {
        display: inline-block;
        width: 100%;
    }

}

@media (max-width: 991px) {
    .responsive-table th {
        font-size: 11pt;
    }
}
